{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "plugins": [
        "babel"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "no-param-reassign": 0
    }
}
